/*header style*/
header {
   text-align: justify;  
   padding: 9px;
   background-color: whitesmoke;
}
/*creating the two-column layout*/
.nav {
    box-sizing: "border box"
}
/*body style*/
body {
text-align: center;
font-family: 'Reem Kufi Fun', sans-serif;
color: #DBE560;
background-color: #9D77B4;
}
/*navigation menu style*/
.nav {
   text-align: center;
   word-spacing: 30px;
   padding: 10px;

.row {
   display: "flex";
   flex-wrap: "wrap";
}
.post-text-box {
   flex: 70%;
   padding: 20px;
}
.profile {
   flex: 70%;
   padding: 20px;
}
/*profile image and heading style*/
.profile img {
   width: 120px;
   display: block;
   margin-left: 0;
   margin-right: 0;
}
.profile h1 {
   text-align: center;
}
/*navigation bar style*/
nav {
   text-align: center;
   word-spacing: 30px;
   padding: 10px;
   font-family: 'Roboto', sans-serif;
}
/*navigation bar button style*/
.nav a {
   color: #9D77B4;
   text-decoration: none;
   font-size: larger;
}
.style h3 {
   font-size: 56px;
   font-weight: 200;
   line-height: 64px;
   font-family: Google Sans,-apple-system,BlinkMacSystemFont,sans-serif;
   letter-spacing: normal;
}
/*footer style*/
footer {
   text-align: center; 
   padding: 20px;
   color: #000000;
  }